{% extends 'base.html' %}

<!-- <br /> -->

{% block title %}
<title>Welcome to the Todo Page</title>
{% endblock title %}

<!-- content -->
{% block content %}
<div class="container">
  <br>
  <!-- {% if message %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %} -->
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <form method="POST" class="row">
    <!-- To post data to database safely CSRF Token is Used -->
    {% csrf_token %}
    <label class="col-lg-3">Your Task for Today:</label>
    <input type="text" class="col-lg-6" name="task" placeholder="New Task ???">
    <button type="submit" style="margin-left: 5px;" class="btn btn-primary col-lg-2">Add Task</button>
  </form>
  <br>
  <table class="table table-sm text-center">
    <thead class="table-dark">
      <tr class="row">
        <th class="col-7">Tasks</th>
        <th class="col-3">Done</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
      </tr>
    <tbody>
      </thead>
      {% if all_tasks %}
      {% for obj in all_tasks %}
      {% if obj.done %}
      <tr class="table-success row">
        <td class="col-7"><del>{{obj.task}}</del></td>
        <td class="col-3"><a href=""><button type="button" class="btn btn-dark">Mark this Pending</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-warning">Edit</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
      </tr>
      {% else %}
      <tr class="table-danger row">
        <td class="col-7">{{obj.task}}</td>
        <td class="col-3"><a href=""><button type="button" class="btn btn-dark">Mark this Completed</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-warning">Edit</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}