{% extends 'base.html' %}

<!-- <br /> -->

{% block title %}
<title>Welcome to the Todo Page</title>
{% endblock title %}

<!-- content -->
{% block content %}
<div class="container">
  <br>
  <table class="table table-sm text-center">
    <thead class="table-dark">
      <tr class="row">
        <th class="col-7">Tasks</th>
        <th class="col-3">Done</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
      </tr>
    <tbody>
      </thead>
      {% if all_tasks %}
      {% for obj in all_tasks %}
      {% if obj.done %}
      <tr class="table-success row">
        <td class="col-7"><del>{{obj.task}}</del></td>
        <td class="col-3"><a href=""><button type="button" class="btn btn-dark">Mark this Pending</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-warning">Edit</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
      </tr>
      {% else %}
      <tr class="table-danger row">
        <td class="col-7">{{obj.task}}</td>
        <td class="col-3"><a href=""><button type="button" class="btn btn-dark">Mark this Completed</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-warning">Edit</button></a></td>
        <td class="col-1"><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}